/* Icons from directory "" */
.icon-copyright,.icon-copyright\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-copyright-dims{width:16px;height:16px}
.icon-cristal,.icon-cristal\:regular{background-image:url('icons/icons.svg');background-position:0 -16px;background-repeat:no-repeat}
.icon-cristal-dims{width:36px;height:37px}
.icon-facebook,.icon-facebook\:regular{background-image:url('icons/icons.svg');background-position:0 -53px;background-repeat:no-repeat}
.icon-facebook-dims{width:36px;height:36px}
.icon-flesh,.icon-flesh\:regular{background-image:url('icons/icons.svg');background-position:0 -89px;background-repeat:no-repeat}
.icon-flesh-dims{width:36px;height:37px}
.icon-insta,.icon-insta\:regular{background-image:url('icons/icons.svg');background-position:0 -126px;background-repeat:no-repeat}
.icon-insta-dims{width:36px;height:36px}
.icon-linkedin,.icon-linkedin\:regular{background-image:url('icons/icons.svg');background-position:0 -162px;background-repeat:no-repeat}
.icon-linkedin-dims{width:36px;height:36px}
.icon-shield,.icon-shield\:regular{background-image:url('icons/icons.svg');background-position:0 -198px;background-repeat:no-repeat}
.icon-shield-dims{width:36px;height:37px}
.icon-telega,.icon-telega\:regular{background-image:url('icons/icons.svg');background-position:0 -235px;background-repeat:no-repeat}
.icon-telega-dims{width:36px;height:36px}
.icon-time,.icon-time\:regular{background-image:url('icons/icons.svg');background-position:0 -271px;background-repeat:no-repeat}
.icon-time-dims{width:36px;height:35px}
.icon-user,.icon-user\:regular{background-image:url('icons/icons.svg');background-position:0 -306px;background-repeat:no-repeat}
.icon-user-dims{width:36px;height:35px}