$primary-color: #528BE6;
$second-color: rgba($color: #222536, $alpha: 0.2);
$light-color: rgba($color: #A1CBF2, $alpha: 0.2);
$text-color: #222536;

body, button, input {
    font-family: 'Manrope', sans-serif;
}

body {
    font-weight: 300;
    font-size: 18px;
    background-color: #fff;
    color: $text-color;
}

button {
    cursor: pointer;
}

.main-title {
    font-weight: 700;
    font-size: 36px;
    color: $primary-color;
    line-height: 40.98px;
    padding-bottom: 14px;
    @media screen and (min-width: 1200px) {
        line-height: 49px;
    }
}

.main-text {
    line-height: 24.59px;
}

.z-index-20 {
    position: relative;
    z-index: 20;
}

.global-btn{
    display: inline-block;
    background-color: #fff;
    border: none;
    color: $primary-color;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    padding: 23px 36px;
    border-radius: 6px;
    @media screen and (min-width: 768px) {
        padding: 16px 21px;
    }
    @media screen and (min-width: 1200px) {
        padding: 16px 36px;
    }
}

.main-tab {
    border: none;
    border-bottom: 1px solid transparent;
    background: transparent;
    font-weight: 300;
    &.router-link-active {
        color: #528BE6;
        border-bottom: 1px solid #528BE6;
        font-weight: 700;
    }
}

.global-link {
    font-weight: 700;
    color: $primary-color;
    text-decoration: none;
}

.center-line {
    font-size: 14px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    &::before, &::after {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        width: 40%;
        height: 1px;
        background: #EAEAEA;
    }
    &::after {
        left: auto;
        right: 0;
    }
}

.title-reg-page {
    font-size: 30px;
    padding-bottom: 25px;
}

.wrapper-for-global-btn {
    margin-top: 25px;
    margin-bottom: 37px;
    text-align: center;
    button, a {
      background: #4587E0;
      color: #fff;
      padding: 17px 0;
      width: 100%;
      text-decoration: none;
      &:disabled {
        background: #528BE6;
        opacity: 50%;
      }
    }
}

.text-center {
    text-align: center;
}